{% extends 'partials/base.html' %}

{% block content %}
{% include 'partials/nav.html'%}

<style>
    .success{
	color:rgb(18, 244, 18);
	transition: all ease-in 0.5s;
    }
    .error{
        color: red;
        transition: all ease-in 2s;
    }

</style>
<br><br>
{% load socialaccount %}
<br><br><br>
<h1 style="text-align: center; font-size: large; font-weight: 800; letter-spacing: -1px;" class="is-size-1">Login using</h1><br>
<span style="display: flex; justify-content: center; align-items: center;"><a href="{% provider_login_url 'github' %}" class="button is-darkr is-rounded mr-5"><i class="fa-brands fa-github pr-3"></i> Github</a><a href="" class="button is-info is-rounded"><i class="fa-brands fa-twitter pr-3"></i>Twitter</a></span>
<hr>
<p style="text-align: center; font-size: large; font-weight: 500;">or</p>
<div class="container" style="margin-top: 30px;">
    <div class="m-5" style="display: flex; justify-content: center; align-items: center;">
        <div class="box mt-5"style="width: 700px;">
            <form action="{% url 'login_user' %}" method="POST">
                {% csrf_token %}
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="username" name="username">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="password" placeholder="Password" name="password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control">
                      <button class="button is-success">
                        Login
                      </button>
                    </p>
                  </div>
                  <p style="text-align: center;">Don't have an account? <a href="{% url 'register' %}">login</a></p><br>
                    
            </form>
        </div>
    </div>
</div>

{% endblock%}