{% extends 'partials/base.html' %}

{% block content %}

<style>
    .success{
	color:rgb(18, 244, 18);
	transition: all ease-in 0.5s;
    }
    .error{
        color: red;
        transition: all ease-in 2s;
    }

</style>
{% load socialaccount %}
<br><br><br>
<h1 style="text-align: center; font-size: large; font-weight: 800; letter-spacing: -1px;" class="is-size-1">Signup using</h1><br>

<span style="display: flex; justify-content: center; align-items: center;"><a href="{% provider_login_url 'github' %}" class="button is-dark is-rounded mr-5"><i class="fa-brands fa-github pr-3"></i> Github</a><a href="{% provider_login_url 'google' %}" class="button is-rounded is-dark" style="background-color: #F4B400; color: #4285F4;"><i class="fa-brands fa-google pr-3 " style="color: #DB4437;"></i>Google</a></span>
<hr>
<p style="text-align: center; font-size: large; font-weight: 500;">or</p>
<div class="container">
    <div class="m-5" style="display: flex; justify-content: center; align-items: center;">
        <div class="box"style="width: 700px;">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="card" style="width: 700px; ">  
                    <div class="field" style="text-align: center;">
                    <label class="label">Username</label>
                    <div style="display: flex; justify-content: center; align-items: center; ">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-primary" type="text" placeholder="Text input" name="username" style="width: 300px;" hx-post="{% url 'check-username' %}" hx-trigger="keyup changed" hx-target="#username-msg" hx-swap="outerhtml">
                        <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                        </span>
                    </div>
                    </div><br>
                    <p class="help" id="username-msg"></p>
                    </div>
                    
                    <div class="field">
                    <label class="label" style="text-align: center;">Email</label>
                    <div style="display: flex; justify-content: center; align-items: center; ">
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-primary" type="email" placeholder="Email input" style="width: 300px;" name="email" hx-post="{% url 'check-email' %}" hx-trigger="keyup changed" hx-swap="outerHtml" hx-target="#email-error">
                        <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                        </span>
                        
                    </div>
                    </div><br>
                    <p class="help" style="text-align: center;" id="email-error"></p>
                    </div>
                    
                    <div class="field" style="text-align: center;">
                        <label class="label">Password</label>
                        <div class="control">
                        <input class="input" type="password" placeholder="Enter Password" style="width: 300px;" name="password" >
                        </div>
                    </div>
                    
                    <div class="field" style="text-align: center;">
                        <label class="label">Confirm Password</label>
                        <div class="control">
                        <input class="input" type="password" placeholder="Confirm Password" style="width: 300px;" name="password1" hx-post="{% url 'check-password' %}" hx-trigger="keyup changed" hx-swap="outerHtml" hx-target="#password-error">
                        </div>
                    </div>
                    <p class="help" style="text-align: center;" id="password-error"></p>
                    
                    <p style="text-align: center;">Already have an account? <a href="{% url 'login_user' %}">login</a></p><br>
                    
                    
                    
                    <div class="field is-grouped">
                    <div class="control" style="display: block; margin: auto;">
                        <button class="button is-primary">Submit</button>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock%}