{% extends 'partials/base.html' %}

{% block content %}
<h1 class="is-size-1" style="text-align: center; font-weight: 900;">Subscription</h1><br>
<div class="">
  <div class="hero">
    <h1 style="background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44); -webkit-text-fill-color: transparent; -webkit-background-clip: text; text-align: center; line-height: 1; letter-spacing: -0.4px;" class="is-size-1 is-size-3-mobile">Start Tweeting Today</h1><br>

  </div>
</div>
<div class="is-flex is-justify-content-center container is-flex-wrap-wrap">
  {% for sub in sub %}
  <div class="card m-5" style="height: 440px; width: 300px;"><br>
    <p style="text-align: center; font-weight: 900; font-size: 30px; cursor: pointer;" class="pt-3" hx-get="{% url 'get_subscription' sub.pk %}" hx-target="#main-div" hx-push-url="{% url 'get_subscription' sub.pk %}">{{sub.name}}</p>
    <h1 class="is-size-2" style="text-align: center;"><b>${{sub.amount}}</b></h1>
    <p style="text-align: center;"><b>USD/unlimited</b></p><br>
   
    <div style="text-align: center;">
        <strong style="text-align: center;">Packages</strong><br><br>
        <small>unlimited token for life time</small><br>
        <small>generate thread</small><br>
        <small>personalized tweet and thread</small><br>
        <small>generate image</small><br>
        <small>Day: {{sub.duration}} days</small>
    </div><br>
    <button class="button is-success" style="color: white; font-weight:700; display: block; margin: auto;" type="button"  onclick="makePayment()"> Subscribe</button>
  </div>
  {% endfor%}
 
</div>

 <!-- flutter wave -->
 <script src="https://checkout.flutterwave.com/v3.js"></script>
    
<script>

    const amount = "{{sub.amount}}"
    const pk = "{{sub.pk}}"
    function makePayment() {
        FlutterwaveCheckout({
            public_key: "FLWPUBK_TEST-SANDBOXDEMOKEY-X",
            tx_ref: "titanic-48981487343MDI0NzMx",
            amount: amount,
            currency: "NGN",
            payment_options: "card, mobilemoneyghana, ussd",
            redirect_url: "https://",
            meta: {
            consumer_id: 23,
            consumer_mac: "92a3-912ba-1192a",
            },
            customer: {
            email: "rose@unsinkableship.com",
            phone_number: "08102909304",
            name: "Rose DeWitt Bukater",
            },
            customizations: {
            title: "The Titanic Store",
            description: "Payment for an awesome cruise",
            logo: "https://www.logolynx.com/images/logolynx/22/2239ca38f5505fbfce7e55bbc0604386.jpeg",
            }
        });
    }
  </script>
{% endblock %}