<div class="container is-max-desktop" id="tweet_result">
    <div class="box" id="event">
        {% if event %}
        <button class="button button is-success is-small is-rounded is-shadow is-outlined" onclick="copyWork()"><i class="fa-regular fa-copy"></i></button>
        <h1 ></h1>
        {% for output in event %}
        <small >{{output.data}}</small>
        {% endfor %}
        {% endif %}
    </div>
</div>
</div>
<script>
    function copyWork() {
        var Text = document.getElementById('event');
        navigator.clipboard.writeText(Text.innerText);
        alert("copied to clipboard")
    }
    
</script>
