{% extends 'partials/base.html' %}

{% block content %}
{% include 'partials/nav.html' %}

<small class="hero p-5" style="font-size: xx-large; font-weight: bold;">Welcome {{request.user}}</small>
<p class="ml-5 content" style="color: rgb(106, 242, 106); font-weight: 900; letter-spacing: -1px;">{{ user.token }} wishes remaining</p>
<div id="tweet-div">
    <div class="container"><br><br>
        <div class="content m-5 box">
            <h3 style="text-align: center;" class="mb-5">What type of Tweets  do you want ?</h3>
            <div class="control" style="display: flex; justify-content: center; align-items: center;">
                <input class="input is-focused" type="text" placeholder="Topic"  style="width: 500px;" name="tweet" hx-post="{% url 'search_tweet' %}" hx-target="#tweet_result" hx-swap="innerHTML"/>
                <button class="button is-success m-5">Search</button>
            </div>
        </div>
        <!-- <button class="button is-success is-outlined is-dark is-rounded ml-5" hx-get="{% url 'view_tweets'%}" hx-target="#tweet_result" hx-swap="innerHtml" hx-push-url="{% url 'view_tweets' %}">View Previous Tweets</button> -->
        <button class="button is-rounded is-primary is-outlined ml-5" hx-get="{% url 'thread' %}" hx-target="#tweet-div" hx-swap="innerHtml">Thread</button> <button class="button is-rounded is-primary is-outlined ml-4" hx-get="{% url 'rephrase' %}" hx-target="#tweet-div" hx-swap="innerHtml">Rephrase</button> <button class="button is-danger is-rounded is-outlined ml-5" hx-post="{% url 'next' %}" hx-target="#tweet_result" hx-swap="innerHtml"><i class="fa-solid fa-forward-step"></i></button><br><br>
        <!-- For Respond -->
        
        
        {% include 'partials/tweet_list.html' %}
        {% include 'partials/next_tweet.html' %}
    </div>
</div>
<script>
    let text = document.getElementById('inputText').innerHTML
    const copyContent = async () => {
        try {
            await navigator.clipboard.writeText(text)
            alert(" copied to clipboard")
        } catch (err) {
            alert("failed to copy")
        }
    }
</script>
{% include 'partials/footer.html' %}

{% endblock %}